@charset "UTF-8";
.form-container .dp-table-cell {
    padding-right: 0px
}

.form-container .dp-table-cell+.dp-table-cell {
    padding-left: 5px
}

.form-container .form-control {
    font-family: "arial", tahoma;
    line-height: 1.3em;
    font-size: 14px;
    line-height: 32px
}

.form-container label {
    font-weight: 100
}

@media (min-width: 1200px) {
    .form-container .form-control {
        height: 40px;
        line-height: 1em;
        font-weight: 100;
        padding-top: 8px
    }
}

.dropdwn-wrap {
    position: relative
}

.dropdwn-wrap:after {
    content: "";
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAD4AAAAYCAYAAACiNE5vAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAFZSURBVHja3NahbsMwEMbxFAyEDZSMjYUFlhTuAcIilQYGle0JBkdH9wcFZXuBkaLBwEoFpQWVSgoKO3KWLGuqLkmX2I4UZOfiz/7pkgTIgAJogDqJ+AKWkrNIgBL4AK5yfwKPkQWeAisr47s9WAFnGWiAPJLQM2AruU7A4q9JuYS+yiZUgYeugYvk+QGyW5PT0OkL7bVNG0i1D1dCw9CfBRJ6btE+AmWXIrkQMfRrz0MvrT51m7aimEt/5Rv9XrQVxRcW/a0v9IX2rhdtxUsyX+gDE6FtuvamF+0Q6P8rbSX949D0HdoHoBiD26D0B6XtA32h/eXQfvDlk+LSn9+p7guwH5V2S/oXoTnp0bVfHdrPPv89pULRsFwD05Y1nhzab97QViy+7EI/CNpK+hubfgva317Tvgf9oGkr6R8k2M7Qj4J2S/onOf1zFLQ70I+LtpJ+Mxbt3wEAvl1bqdW3MuQAAAAASUVORK5CYII=");
    background-repeat: no-repeat;
    -webkit-background-size: auto 7px;
    background-size: auto 7px;
    position: absolute;
    top: 14px;
    right: 7px;
    width: 20px;
    height: 7px;
    -webkit-filter: brightness(0.7);
    filter: brightness(0.7);
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
    pointer-events: none
}

@-moz-document url-prefix() {
    .dropdwn-wrap:after {
        content: none
    }
}

.dropdwn-wrap select {
    -webkit-appearance: none;
    padding-right: 30px;
    line-height: 1em !important
}

@media (min-width: 1200px) {
    .dropdwn-wrap:after {
        top: 17px
    }
}

.form-line {
    background-color: #fff
}

.form-line+.form-line {
    margin-top: 20px
}

.form-line .form-group {
    margin-top: 10px
}

.form-line .form-control {
    border: none;
    border-bottom: 1px solid #bdbdbd;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border .3s;
    transition: border .3s
}

.form-line .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #1464b4
}

.form-line .dp-table-cell {
    padding-right: 0
}

.form-line .dp-table-cell+.dp-table-cell {
    padding-left: 0;
    position: relative
}

.form-line .dp-table-cell+.dp-table-cell:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 20px;
    background-color: #bdbdbd;
    top: 19px;
    left: 0
}

@media (max-width: 599px) {
    .form-line._responsive .dp-table-cell+.dp-table-cell:after {
        content: none
    }
}

._label {
    display: block;
    font-family: psl_display;
    line-height: .8em;
    font-size: 23px;
    font-weight: 100
}

._label:after {
    content: " :"
}

@media (min-width: 600px) {
    ._label {
        display: block
    }
    ._label+.form-control::-webkit-input-placeholder {
        color: transparent
    }
    ._label+.form-control:-moz-placeholder {
        color: transparent
    }
    ._label+.form-control::-moz-placeholder {
        color: transparent
    }
    ._label+.form-control:-ms-input-placeholder {
        color: transparent
    }
}

@media (min-width: 1200px) {
    ._label {
        font-size: 26px
    }
}

._alert-meg {
    display: none
}

._alert {
    background-color: #ffc
}

._alert+._alert-meg {
    font-family: "arial", tahoma;
    line-height: 1.3em;
    display: block;
    font-size: 11px;
    color: #f58c14;
    margin-top: 3px
}

._alert+._alert-meg:before {
    content: "ระบุ"
}

._alert+._alert-meg:after {
    content: "ด้วยค่ะ"
}

._alert+._alert-meg.not-auto:before,
._alert+._alert-meg.not-auto:after {
    content: none
}

@media (min-width: 600px) {
    ._alert+._alert-meg {
        font-size: 13px;
        margin-top: 5px
    }
}

.bg-gray.section {
    margin-top: 0;
    padding: 30px 0;
    background-color: #ededed
}

.bg-gray.section>.container {
    padding-left: 7px;
    padding-right: 7px
}

@media (min-width: 600px) {
    .bg-gray.section {
        padding: 40px 0
    }
    .bg-gray.section>.container {
        padding-left: 15px;
        padding-right: 15px
    }
}

.shadow-box {
    background-color: #fff;
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    padding-top: 15px;
    padding-bottom: 15px
}

.shadow-box+.shadow-box {
    margin-top: 15px
}

.form-control[readonly] {
    background-color: #fff;
    cursor: default
}

@media (max-width: 599px) {
    ._responsive .dp-table-cell {
        display: block
    }
    ._responsive .dp-table-cell+.dp-table-cell {
        padding-left: 0
    }
}

.bubble-box {
    text-align: left;
    border: 2px solid #DCDCDC;
    border-radius: 6px;
    max-width: 450px;
    margin: auto;
    position: relative;
    z-index: 10;
    display: none
}

.bubble-box:after {
    content: "";
    background-image: url("../../../../../images/icons/arrow-down-bubble.png");
    background-repeat: no-repeat;
    -webkit-background-size: 16px auto;
    background-size: 16px auto;
    width: 16px;
    height: 18px;
    position: absolute;
    bottom: -18px;
    right: 20%
}

.bubble-box.top-left:after {
    top: -18px;
    left: 20%;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.bubble-box.top-right:after {
    top: -18px;
    right: 20%;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg)
}

.bubble-box.bottom-left:after {
    bottom: -18px;
    left: 20%;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg)
}

.bubble-box .body {
    padding: 20px 15px 15px
}

.bubble-box .close-bubble {
    background-image: url("../../../../../images/icons/close-2.png");
    background-repeat: no-repeat;
    -webkit-background-size: 10px auto;
    background-size: 10px auto;
    background-position: top right;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 5px;
    right: 5px;
    cursor: pointer;
    z-index: 99999
}

.bubble-box .close-bubble._left {
    background-position: top left;
    left: 5px
}

.bubble-box+.overlay-bubble {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2
}

input:checked+.bubble-box {
    display: block
}

input:checked+.bubble-box+.overlay-bubble {
    display: block
}

.check-container {
    text-align: center
}

.check-container .check-box {
    background-color: #fff;
    width: 15px;
    height: 15px;
    border: 1px solid #666;
    display: block;
    margin: auto;
    position: relative;
    cursor: pointer
}

.check-container .check-box:after {
    content: "";
    display: none\9;
    opacity: 0;
    width: 16px;
    height: 16px;
    position: absolute;
    top: -4px;
    left: 1px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAiCAMAAAAJbCvNAAAAM1BMVEUAAABas1Bas1Bas1Bas1Bas1Bas1Bas1Bas1Bas1Bas1Bas1Bas1Bas1Bas1Bas1Bas1Au48VKAAAAEHRSTlMAEO9Av4Aw35/PYK+PUCBwRluJuQAAALlJREFUOMuNk+sWhCAIhBdMxbzU+z/tXuBsqU27/OybA4NDj5tyIu6Or/urVsyJ34KIBXn/FDagPEFBVAF06ZUL4k05ExIsKtgQr8oXxMkcBiQoygvi4U+HFfHtl0NWQftOzEs5TxPlvnOUaAwpDisJDilbxz6k3B/WcVuN7QnmrTlovzkkSsfD1cszCmyfCYXkzIb4PqTZKA5JzoIKA8Qh2SpDSNMqWn4AU0iEf2YLCZe3AbjIXfR/AsmTElVFhdyVAAAAAElFTkSuQmCC");
    background-repeat: no-repeat;
    -webkit-background-size: 16px auto;
    background-size: 16px auto;
    -webkit-transition: opacity .2s;
    transition: opacity .2s
}

.check-container input {
    display: none
}

.check-container input:checked+.check-box:after {
    display: block\9;
    opacity: 1
}

.check-container .dp-table-cell {
    padding-right: 5px !important
}

.check-container .dp-table-cell+.dp-table-cell {
    padding-right: 0;
    padding-left: 5px !important
}

.check-container .dp-table-cell:after {
    content: none !important
}

.check-container .dp-table-cell:last-child {
    padding-right: 0
}

.check-container label {
    cursor: pointer
}

.check-container .box-wrap {
    width: 15px
}

.list-wrap ul li {
    font-size: 14px
}

@media (min-width: 1024px) {
    .list-wrap ul li {
        font-size: 30px;
        padding-left: 22px
    }
    .list-wrap ul li strong {
        font-family: "psl_display_bold";
        line-height: .8em;
        font-weight: normal
    }
}

.shadow-box {
    padding-bottom: 25px
}

.form-container {
    max-width: 700px;
    margin: 0 auto
}

.form-container .big {
    font-size: 1.3em
}

.feature-container .item {
    font-family: psl_display;
    line-height: .8em;
    font-size: 22px;
    float: left;
    width: 50%;
    text-align: center;
    margin-top: 15px
}

.feature-container .item .icon {
    display: block;
    margin: auto;
    width: 95px;
    margin-bottom: 7px
}

.feature-container .item ._bold {
    font-family: "psl_display_bold";
    line-height: .8em;
    font-weight: normal
}

.feature-container .item .big {
    font-size: 1.2em
}

.feature-container .item p {
    margin-top: 3px
}

@media (min-width: 600px) {
    .feature-container .item {
        width: 33.33%
    }
}

@media (min-width: 768px) {
    .feature-container .item .icon {
        width: 105px
    }
}

@media (min-width: 1200px) {
    .feature-container {
        padding-top: 15px
    }
    .feature-container .item {
        font-size: 24px
    }
    .feature-container .item .icon {
        width: 125px
    }
}

.contact-box {
    text-align: center
}

.contact-box .wrap {
    margin: 5px auto 0
}

.contact-box .tel {
    font-family: psl_display;
    line-height: .8em;
    font-size: 45px;
    padding-left: 10px;
    color: #4f4f4f
}

.contact-box .tel a {
    text-decoration: none;
    color: inherit
}

.contact-box .tel-icon {
    width: 38px
}

.moneyGuarantee-container {
    background-color: #F1F1F1;
    padding: 10px 0;
    margin: 25px 0
}

.moneyGuarantee-container .wrapper {
    max-width: 400px;
    margin: auto
}

.moneyGuarantee-container .icon-wrap {
    width: 100px;
    position: relative
}

.moneyGuarantee-container .icon-wrap .icon {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -50px
}

.moneyGuarantee-container .title-wrap {
    padding: 10px 0 10px 10px;
    border-top: 1px solid #C1C1C1;
    border-bottom: 1px solid #C1C1C1
}

.moneyGuarantee-container .title-wrap .heading {
    margin-top: -3px;
    margin-bottom: 3px
}

.moneyGuarantee-container .title-wrap .heading-sub {
    font-family: psl_display;
    line-height: .8em;
    font-size: 22px
}

.moneyGuarantee-container .info-icon {
    position: absolute;
    bottom: -5px;
    right: 0;
    cursor: pointer;
    -webkit-transition: .4s;
    transition: .4s
}

.moneyGuarantee-container .info-icon .icon {
    width: 18px;
    height: 18px
}

@media (min-width: 1024px) {
    .moneyGuarantee-container {
        padding: 15px 0
    }
    .moneyGuarantee-container .wrapper {
        max-width: 600px
    }
    .moneyGuarantee-container .icon-wrap {
        width: 140px
    }
    .moneyGuarantee-container .icon-wrap .icon {
        width: 120px;
        height: 120px;
        margin-top: -60px
    }
}

.bubble-box ol {
    padding: 0 0 0 10px;
    margin: 0
}

.bubble-box ol li+li {
    margin-top: 10px
}

.newway-container .item {
    display: table-cell;
    padding: 0 5px
}

.newway-container .icon-wrap {
    text-align: center
}

.newway-container .icon-wrap img {
    width: 50px
}

.newway-container .txt-wrap {
    font-family: psl_display;
    line-height: .8em;
    font-size: 20px;
    text-align: center;
    padding-top: 5px
}

.newway-container .txt-wrap strong {
    font-family: "psl_display_bold";
    line-height: .8em;
    font-weight: normal
}

.newway-container .txt-wrap br {
    display: none
}

@media (min-width: 400px) {
    .newway-container .item-warp {
        display: table;
        table-layout: fixed;
        width: 100%
    }
    .newway-container .item {
        display: table-cell;
        padding: 0 10px
    }
    .newway-container .txt-wrap {
        padding-left: 5px
    }
    .newway-container .txt-wrap br {
        display: inline
    }
}

@media (min-width: 1024px) {
    .newway-container .icon-wrap img {
        width: 70px
    }
    .newway-container .txt-wrap {
        font-size: 24px
    }
}

.grt-logo-container .item {
    padding: 0 5px;
    vertical-align: middle
}

.grt-logo-container .item img {
    max-height: 20px;
    max-width: 100%;
    display: block;
    margin: auto
}

@media (min-width: 600px) {
    .grt-logo-container {
        width: auto;
        margin: auto;
        padding-top: 35px
    }
    .grt-logo-container .item {
        padding-left: 0;
        padding-right: 0
    }
    .grt-logo-container .item img {
        max-height: 25px
    }
    .grt-logo-container .item+.item {
        padding-left: 75px
    }
}

@media (min-width: 1024px) {
    .grt-logo-container .item img {
        max-height: 30px
    }
    .grt-logo-container .item+.item {
        padding-left: 95px
    }
}

.faq-container .faq-bar {
    background-color: #0050a0;
    padding: 15px 0
}

.faq-container .faq-bar .heading {
    color: #fff;
    margin-bottom: 0
}

.faq-container .faq-dl {
    list-style-type: none;
    margin: auto
}

.faq-container .faq-dl>li {
    margin-top: 30px;
    padding-left: 20px;
    font-size: 13px;
    line-height: 1.3em
}

.faq-container .faq-dl .title {
    color: #0050a0;
    font-size: 22px;
    margin-bottom: 5px;
    position: relative
}

.faq-container .faq-dl .title:before {
    content: "Q: ";
    position: absolute;
    left: -18px;
    top: 0
}

.faq-container .faq-dl .title+p {
    position: relative
}

.faq-container .faq-dl .title+p:before {
    content: "A: ";
    position: absolute;
    left: -18px;
    top: 0
}

@media (min-width: 600px) {
    .faq-container .faq-dl .title {
        font-size: 26px
    }
}

@media (min-width: 1200px) {
    .faq-container .faq-dl>li {
        margin-top: 35px;
        font-size: 14px
    }
    .faq-container .faq-dl .title {
        font-size: 30px
    }
}

.faq-container .faq-more-wrap {
    position: relative;
    margin-top: 20px
}

.faq-container .faq-more-wrap .faq-more {
    font-family: "psl_display_bold";
    line-height: .8em;
    font-weight: normal;
    font-size: 22px;
    background-color: #0050a0;
    color: #fff;
    padding: 8px 33px 8px 15px;
    border-radius: 4px;
    display: table;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    cursor: pointer
}

.faq-container .faq-more-wrap .faq-more:after {
    content: "";
    position: absolute;
    width: 15px;
    height: 8px;
    top: 50%;
    right: 0;
    margin-top: -4px;
    margin-right: 10px;
    background-image: url("../../../../../images/icons/arrow-down2.png");
    -webkit-background-size: 15px auto;
    background-size: 15px auto;
    background-repeat: no-repeat
}

.faq-container .faq-more-wrap:after {
    content: "";
    position: absolute;
    background-color: #b2cae2;
    width: 100%;
    height: 1px;
    top: 50%;
    left: 0
}

@media (min-width: 1200px) {
    .faq-container .faq-more-wrap .faq-more {
        font-size: 26px;
        padding: 8px 43px 8px 33px
    }
}

.faq-container ._hs {
    display: none
}

.type-container {
    text-align: left;
    margin: 5px auto 0
}

.type-container .item {
    display: table-cell;
    text-align: center
}

.type-container .dp-table-cell:after {
    content: none !important
}

.type-container input[type="radio"] {
    display: none
}
.type-container input[type="checkbox"] {
    display: none
} 
.type-container label {
    cursor: pointer;
    margin-bottom: 0
}

.type-container label:hover .img-wrap .img {
    -webkit-filter: grayscale(0) brightness(100%);
    -moz-filter: grayscale(0) brightness(100%);
    -ms-filter: grayscale(0) brightness(100%);
    -o-filter: grayscale(0) brightness(100%);
    filter: grayscale(0) brightness(100%);
    -webkit-filter: gray;
    filter: gray
}

.type-container label:hover .dot:before {
    background-color: #b2cae2
}

.type-container .title {
    padding-left: 5px
}

.type-container .img-wrap {
    height: 50px
}

.type-container .img-wrap .img {
    max-width: 100%;
    max-height: 40px;
    display: block;
    margin: auto;
    -webkit-filter: grayscale(100%) brightness(200%);
    -moz-filter: grayscale(100%) brightness(200%);
    -ms-filter: grayscale(100%) brightness(200%);
    -o-filter: grayscale(100%) brightness(200%);
    filter: grayscale(100%) brightness(200%);
    -webkit-filter: gray;
    filter: gray;
    -webkit-transition: .3s;
    transition: .3s
}

@media (min-width: 600px) {
    .type-container .img-wrap {
        height: 70px
    }
    .type-container .img-wrap .img {
        max-height: 60px
    }
}

.type-container .dot {
    width: 18px;
    height: 18px;
    border: 1px solid #666;
    border-radius: 50%;
    position: relative;
    margin: 5px auto;
    -webkit-transition: .3s;
    transition: .3s
}

.type-container .dot:before {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 10px;
    height: 10px;
    margin-top: 2px;
    margin-left: 2px;
    border-radius: 50%
}

.type-container input[type="radio"]:checked+label .dot:before {
    background-color: #0050a0
}

.type-container input[type="radio"]:checked+label .img-wrap .img {
    -webkit-filter: grayscale(0) brightness(100%);
    -moz-filter: grayscale(0) brightness(100%);
    -ms-filter: grayscale(0) brightness(100%);
    -o-filter: grayscale(0) brightness(100%);
    filter: grayscale(0) brightness(100%);
    -webkit-filter: gray;
    filter: gray
} 
.type-container input[type="checkbox"]:checked+label .dot:before {
    background-color: #0050a0
}

.type-container input[type="checkbox"]:checked+label .img-wrap .img {
    -webkit-filter: grayscale(0) brightness(100%);
    -moz-filter: grayscale(0) brightness(100%);
    -ms-filter: grayscale(0) brightness(100%);
    -o-filter: grayscale(0) brightness(100%);
    filter: grayscale(0) brightness(100%);
    -webkit-filter: gray;
    filter: gray
}
 
@media (min-width: 600px) {
    .type-container {
        margin-top: 15px
    }
}

.check-container {
    font-size: 14px
}