<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="constr" connectionString="Data Source=192.168.10.103;Initial Catalog=Silkspan;Persist Security Info=True;User ID=dotnet;Password=2cdM0n1t0r;"  />
    <add name="ConnectionString" connectionString="Data Source=D:\git\EBOOK\database\ebookdb.sdf;Password=poom35996" providerName="Microsoft.SqlServerCe.Client.3.5"/>
    <add name="silkspanEntities" connectionString="metadata=res://*/Entity.Entity.csdl|res://*/Entity.Entity.ssdl|res://*/Entity.Entity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.10.103;initial catalog=silkspan;user id=dotnet;password=2cdM0n1t0r;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
</configuration>